<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ejercicio 1 de Vue</title>
</head>
<body>

  <div id="app">
    <h1>{{ titulo }}</h1>

    <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
    <button @click="agregarFruta">Agregar</button>

    <ul>
      <li v-for="fruta of frutas">
	{{ fruta.nombre }}
	<input type="number" v-model.number="fruta.cantidad">
        <span v-if="fruta.cantidad === 0">- Sin Stock</span>
	<button @click="fruta.cantidad++">+</button>
      </li>
    </ul>

    <h4>TOTAL: {{ sumarFrutas }}</h4>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
